target/
node_modules/
*.pyc
__pycache__/
build/
.zig-cache/
zig-out/
dist/

# Fax-lang specific artifacts

*.ll

*.o

*.s

/fax

/ci_local

/example

/example_complex

/gc_auto_test

/gc_recursion_leak

/gc_struct_leak

/gc_large_bug_v2.ll

/tests/bin/
/tests/ir/
